<%= render 'shared/profile-dash' %>
<%= render 'shared/card-filters' %>

<div class="cards">
  <div class="row">
    <% @sorted = @distrikts.sort {|a,b| compare(b.score, @user.score)<=>compare(a.score, @user.score) } %>
      <%= render 'shared/card' %>
  </div>
</div>

<div class="paginate">
  <%= paginate @distrikts %>
  <div class="paginate-bottom">
    <%= page_entries_info @distrikts %>
  </div>
</div>
<div class="tricks">

</div>
