<!-- Custom Header -->
<% content_for :meta_title, "Welcome to #{@distrikt.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @distrikt.description %>
<% if @distrikt.photos.first.nil? %>
  <% content_for :meta_image, image_path('https://images.pexels.com/photos/9253/sea-city-landscape-sky.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb') %>
<% else %>
  <% content_for :meta_image, cl_image_path(@distrikt.photos.first) %>
<% end %>
<!-- Custom Header -->

<div class="distrik-container">
  <%= render 'shared/distrikt-banner' %>
  <%= render 'shared/show-nav' %>

  <div class="map-places-container" id="map-container">
    <div class="map-left" id="map-left">
      <%= render 'shared/map' %>
    </div>
    <div class="places-right" id="places-right">
      <%= render 'shared/places-index' %>
    </div>
  </div>
</div>

<div id="instagram-block">
  <%= render 'shared/instagram-block' %>
</div>

<div id="show-cards">
<%= render "shared/show-cards" %>
</div>

<%= render 'shared/place-modal' %>

