<% @sorted.each do |distrikt| %>
  <%= link_to distrikt_path(id: distrikt.id) do %>
<div class="col-xs-6 col-sm-3">
  <% if distrikt.photos.first.nil? %>
    <div class="card" style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7)), url('https://static.pexels.com/photos/397434/pexels-photo-397434.jpeg');">
  <% else %>
    <div class="card" style = "background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= cl_image_path distrikt.photos.first.path, height: 281, width: 222, crop: :fill %>')">
  <% end %>

    <div class="card-body">

      <div class="card-match text-center gold">
        <div class="hexagon-filter">
          <%= image_tag "hexagons/hex-outline-cards.png", class: "hex-match" %>
          <div class="match-block">
            <p class="bold"><%= compare(@user.score, distrikt.score) %></p>
          </div>
          <h6 class="upper touch match">MATCH</h6>
        </div>
      </div>

<!--       <a href="<%= edit_distrikt_path(distrikt.id) %>"><i class="fa fa-edit"></i></a> -->

      <div class="card-desc">
        <h4 class="bold"><%= distrikt.name %></h4>
        <h5 class="upper light"><%= distrikt.city.name %>, <%= distrikt.city.country %></h5>
      </div>

    </div>


  </div>
</div>
<% end %>
<% end %>
