<% @sorted.each do |distrikt| %>
  <%= link_to distrikt_path(id: distrikt.id) do %>
<div class="col-xs-6 col-sm-3">
  <% if distrikt.photos.first.nil? %>
    <div class="card" style = "background-color: gainsboro">
  <% else %>
    <div class="card" style = "background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path distrikt.photos.first.path, height: 281, width: 222, crop: :fill %>')">
  <% end %>
    <div class="card-body">
      <div class="card-category text-center gold">
        <h4><%= compare(@user.score, distrikt.score) %></h4>
        <p>MATCH</p>
      </div>
      <div class="card-desc">
        <h4 class="bold"><%= distrikt.name %></h4>
        <p class><%= distrikt.city.name %>, <%= distrikt.city.country %></p>
        <a href="<%= edit_distrikt_path(distrikt.id) %>"><i class="fa fa-edit"></i></a>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
