<div id='features'>

  <section id='<%= @distrikts.first.name.delete(' ') %>' class="active" >

    <div class="card-explore">
      <div class="card-body-explore">

        <div class="card-label-container">

          <div class="card-label-left heading" id="distrikt-<%= @distrikts.first.name.delete(' ') %>">
            <h1 class="dk-name bold upper touch"><%= link_to @distrikts.first.name, distrikt_path(@distrikts.first.id) %></h1>


            <p class="upper"><%= @distrikts.first.city.name %>, <%= @distrikts.first.city.country %></p>
          </div>

          <div class="card-label-right text-center gold">
            <%= image_tag "hexagons/hex-solid.png", class: "hex-explore" %>
            <h4 class="explore-score"><%= compare(@user.score, @distrikts.first.score) %></h4>
            <h5 class="explore-match">MATCH</h5>
          </div>

        </div>

        <div class="card-description">
          <p class="light spaced"><%= @distrikts.first.description %></p>
        </div>
      </div>

      <div class="top-spots-main">
        <h5 class="upper bold text-center">Top Spots in <%=@distrikts.first.name.delete(' ') %></h5>

        <div class="top-spots-cards">
          <% @distrikts.first.places[0..5].each do |place| %>
            <div class="top-spots-card">
              <div class="top-spots-top" style="background-image: url('<%= place.img_url %>')">
              </div>
              <div class="top-spots-bottom">
                <h5 class="text-center light"><%= place.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>


<!-- after first city -->

  <% @distrikts_droped.each do |distrikt| %>

    <section id='<%= distrikt.name.delete(' ') %>'>

      <div class="card-explore">
        <div class="card-body-explore">

          <div class="card-label-container">

            <div class="card-label-left heading" id="distrikt-<%= distrikt.name%>">
              <h1 class="dk-name bold upper touch"><%= link_to distrikt.name, distrikt_path(distrikt.id) %></h1>
              <p class="upper"><%= distrikt.city.name %>, <%= distrikt.city.country %></p>
            </div>

            <div class="card-label-right text-center gold">
              <%= image_tag "hexagons/hex-solid.png", class: "hex-explore" %>
              <h4 class="explore-score"><%= compare(@user.score, distrikt.score) %></h4>
              <h5 class="explore-match">MATCH</h5>
            </div>

          </div>

          <div class="card-description">
            <p class="light spaced"><%= distrikt.description %></p>
          </div>
        </div>

        <div class="top-spots-main">
          <h5 class="upper bold bumpdown text-center">Top Spots in <%=distrikt.name %></h5>

          <div class="top-spots-cards">
            <% distrikt.places[0..5].each do |place| %>
              <div class="top-spots-card">
                <div class="top-spots-top" style="background-image: url('<%= place.img_url %>')">
                </div>
                <div class="top-spots-bottom">
                  <h5 class="text-center light"><%= place.name %></h5>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  <% end %>

</div>
