<div id='features'>
  <section id='<%= @distrikts.first.name %>'>

    <div class="card-explore">
      <div class="card-body-explore">

        <div class="card-label-container">

          <div class="card-label-left heading">
            <h1 class="bold upper touch"><%= @distrikts.first.name %></h1>
            <p class="upper"><%= @distrikts.first.city.name %>, <%= @distrikts.first.city.country %></p>
          </div>

          <div class="card-label-right text-center gold">
            <%= image_tag "hexagons/hex-solid.png", class: "hex-explore" %>
            <h4 class="explore-score"><%= compare(@user.score, @distrikts.first.score) %></h4>
            <h5 class="explore-match">MATCH</h5>
          </div>
        </div>

        <div class="card-description">
          <p class="light spaced"><%= @distrikts.first.description %></p>
        </div>

        <div class="ig-label text-center">
          <div class="ig-block">
            <%= image_tag "instagram.png", class: "ig-logo" %>
            <h5 class="ig-name">#<%= @distrikts.first.name %></h5>
           </div>
          <%= render 'shared/instagram-explore-block' %>
        </div>

      </div>
    </div>

  </section>
    <a href="#<%= @distrikts[1].name %>">
      <div class="next-distrikt">
        <h4>Next Distrikt: <%= @distrikts[1].name %></h4>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
    </a>

<!-- after first city -->

  <% @distrikts.drop(0).each_with_index do |distrikt, index| %>

    <section id='<%= distrikt.name %>'>

      <div class="card-explore">
      <div class="card-body-explore">

        <div class="card-label-container">

          <div class="card-label-left heading">
            <h1 class="bold upper touch"><%= distrikt.name %></h1>
            <p class="upper"><%= distrikt.city.name %>, <%= distrikt.city.country %></p>
          </div>

          <div class="card-label-right text-center gold">
            <%= image_tag "hexagons/hex-solid.png", class: "hex-explore" %>
            <h4 class="explore-score"><%= compare(@user.score, distrikt.score) %></h4>
            <h5 class="explore-match">MATCH</h5>
          </div>
        </div>

        <div class="card-description">
          <p class="light spaced"><%= distrikt.description %></p>
        </div>

        <div class="ig-label text-center">
          <div class="ig-block">
            <%= image_tag "instagram.png", class: "ig-logo" %>
            <h5 class="ig-name">#<%= distrikt.name %></h5>
           </div>
          <%= render 'shared/instagram-explore-block' %>

        </div>


      </div>
    </div>
    </section>
      <% if @distrikts[index + 1].nil? %>
          <a href="#<%= @distrikts[1].name %>">
            <div class="next-distrikt">
              <h4>Back to top </h4>
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
          </a>
      <% else %>
          <a href="#<%= @distrikts[index + 1].name %>">
            <div class="next-distrikt">
              <h4>Next Distrikt: <%= @distrikts[index + 1].name %></h4>
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </div>
          </a>
      <% end %>
  <% end %>
</div>
