<div class="map-places-container">
  <!-- MAP -->
  <div class="map-container">
    <div id='map'>
    </div>

    <script>
      mapboxgl.accessToken = "<%= ENV['MAPBOX-API'] %>";

      var llb = new mapboxgl.LngLatBounds(<%= @coordinates.compact %>);


      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        center: llb.getCenter(),
        pitch: 45,
        bearing: -17.6,
        zoom: 13,
      });

      map.on('load', function() {
        <% unless @distrikt.outline.empty? %>
        map.addLayer({
          'id': 'maine',
          'type': 'fill',
          'source': {
            'type': 'geojson',
            'data': {
              'type': 'Feature',
              'geometry': {
                'type': 'Polygon',
                'coordinates': [<%= @distrikt.outline %>]
              }
            }
          },
          'layout': {},
          'paint': {
            'fill-color': '#f5a623',
            'fill-opacity': 0.3
          }
        });
        <% end %>
    map.loadImage('<%= image_path("marker-map.png") %>', function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": <%= raw @places.to_json %>
                }
            },
            "layout": {
                "icon-image": "cat",
                "icon-size": 0.045,
                "icon-allow-overlap": true
            }
        });
    });
});
      console.log(<%= @distrikt.outline %>)
    </script>
      </div>

    <!-- PLACES -->
  <div class="places-container">
    <h3>Top picks in <%= @distrikt.name %></h3>
  </div>
</div>