<div class="place-show-container">
  <div class="place-show-top" style="background-image: url('<%= @place.img_url %>')">

    <div id="close">
      <%= link_to distrikt_places_close_path(@distrikt.id), class: "close", remote: true do %>
        <%= image_tag "close-white-lg.png", class: "x-icon" %>
      <% end %>
    </div>

  </div>

  <div class="place-show-bottom">
    <div class="place-category">
      <p id="<%= @place.category %>"><%= @place.category.upcase %> | <%= "$" * @place.price unless @place.price.nil? %></p>
    </div>
    <div class="place-name bold">
      <h2><%= @place.name %></h2>
    </div>
    <hr>
    <ul class="li"><%= image_tag "place-marker.png", class: "place-icon" %>  <%= @place.address %></ul>
    <ul class="li"><%= image_tag "place-earth.png", class: "place-icon" %>  <%= link_to @place.url.sub(/^https?\:\/\/(www.)?/,''), @place.url, target: "_blank" unless @place.url.nil? %></ul>
    <ul class="li"><%= image_tag "place-phone.png", class: "place-icon" %>  <%= @place.phone unless @place.phone.nil? %></ul>
    <ul class="li"><%= image_tag "place-hours.png", class: "place-icon" %>  <%= @place.hour unless @place.hour.nil? %></ul>
  </div>
</div>

