<div class="filters-top-container">
  <div class="filter-title">
    <h4>Top Picks in <%= @distrikt.name %></h4>
  </div>
  <div class="filter-tags">
    <%= link_to distrikt_path, remote: true do %>
    <div class="filter-icon" id="all">
      <%= image_tag "filter-tags/all-light", class: "filter-img" %>
    </div>
    <% end %>
    <%= link_to distrikt_path(category: "nightlife"), remote: true do %>
    <div class="filter-icon" id="bar">
      <%= image_tag "filter-tags/bar-dark", class: "filter-img" %>
    </div>
    <% end %>
    <%= link_to distrikt_path(category: "cafe"), remote: true do %>
    <div class="filter-icon" id="coffee">
      <%= image_tag "filter-tags/coffee-dark", class: "filter-img" %>
    </div>
    <% end %>
    <%= link_to distrikt_path(category: "culture"), remote: true do %>
      <div class="filter-icon" id="culture">
        <%= image_tag "filter-tags/culture-dark", class: "filter-img" %>
      </div>
    <% end %>
    <%= link_to distrikt_path(category: "dessert"), remote: true do %>
      <div class="filter-icon" id="dessert">
        <%= image_tag "filter-tags/dessert-dark", class: "filter-img" %>
      </div>
    <% end %>
    <%= link_to distrikt_path(category: "outdoors"), remote: true do %>
       <div class="filter-icon" id="outdoors">
          <%= image_tag "filter-tags/outdoors-dark", class: "filter-img" %>
       </div>
    <% end %>
    <%= link_to distrikt_path(category: "restaurant"), remote: true do %>
      <div class="filter-icon" id="resto">
        <%= image_tag "filter-tags/resto-dark", class: "filter-img" %>
      </div>
    <% end %>
    <%= link_to distrikt_path(category: "shopping"), remote: true do %>
      <div class="filter-icon" id="shopping">
        <%= image_tag "filter-tags/shopping-dark", class: "filter-img" %>
      </div>
    <% end %>
  </div>
</div>
<div class="places">
  <ul id="places-search">
    <%= render @distrikt.places %>
  </ul>
</div>