<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg profile-modal-container" role="document">

    <div class="modal-content profile-modal-container-left";">
        <div class="style-top">
            <%= image_tag "compass.png", class: "small-style-icon" %>
            <h2 class="bold text-center"><%= @styles.first.name %></h2>
          <p class="light spaced"><%= @styles.first.description %></p>
      </div>
    </div>

    <div class="modal-content profile-modal-container-right text-center">
      <h4 class="upper">Your Profile Breakdown</h4>
      <div class="breakdown-modal-container">
        <% @scores.each do |score| %>
          <div class="breakdown-modal-box text-center">
            <%= image_tag "score-icons/#{score.first}.png", class: "modal-type-icon" %>
            <h1 class="bold gold"><%= score.last %></h1>
            <h4 class="upper"><%= score.first.capitalize %></h4>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
