<h4 class="text-center"><%= @questions.first.description  %></h4>
<div class="quiz-container">
  <%= image_tag "q1_a1.jpg", class: "answer"  %>
  <%= image_tag "q1_a2.jpg", class: "answer"  %>
  <%= image_tag "q1_a3.jpg", class: "answer"  %>
  <%= image_tag "q1_a4.jpg", class: "answer"  %>
</div>
<button id="submit">Submit Quiz</button>