<section id="reasons">
  <h3 class="heading upper text-center">Creating a better travel experience</h3>

<div class="reasons-container">

    <div class="reason-box text-center">
        <%= image_tag "timer.png", class: "home-icon" %>
        <p class="light">Make the most of your time exploring a city</p>
    </div>

    <div class="reason-box text-center">
        <%= image_tag "earth.png", class: "home-icon" %>
        <p class="light">Global database of the best Distrikts</p>
    </div>

    <div class="reason-box text-center">
        <%= image_tag "user.png", class: "home-icon" %>
        <p class="text-muted home-description">Customized results for your travel style</p>
    </div>

    <div class="reason-box text-center">
        <%= image_tag "map.png", class: "home-icon" %>
        <p class="light">Avoid the tourist traps</p>
    </div>

    <div class="reason-box text-center">
        <%= image_tag "mouse.png", class: "home-icon" %>
        <p class="light">Waste less time researching</p>
    </div>

    <div class="reason-box text-center">
        <%= image_tag "suitcase.png", class: "home-icon" %>
        <p class="light">Go directly to the distrikts you’ll love</p>
    </div>


  </div>
</div>
</section>
