  <div class="banner-results">
  <div class="overlay-results"></div>
  <% if @styles.first.name == "Luxury Scavenger" %>
    <video autoplay muted preload="auto" class="banner__video-results" loop>
    <source src="<%= asset_path('luxury.mp4') %>" type="video/mp4">
  <% elsif @styles.first.name == "Urban Explorer" %>
    <video autoplay muted preload="auto" class="banner__video-results" loop>
    <source src="<%= asset_path('NYC.mp4') %>" type="video/mp4">
  <% elsif @styles.first.name == "Cultural Ninja" %>
    <video autoplay muted preload="auto" class="banner__video-results" loop>
    <source src="<%= asset_path('ninja.mp4') %>" type="video/mp4">
  <% else %>
      <video autoplay muted preload="auto" class="banner__video-results" loop>
      <source src="<%= asset_path('home.mp4') %>" type="video/mp4">
  <% end %>
  </video>

  <div class="banner-results-content">
    <h3 class="gold light upper">You are a</h3>
    <h1 class="heading upper"><%= @styles.first.name %></h1>

    <a class="btn btn-sm animated-button thar-gold" data-toggle="modal" data-target="#modalSignUp">Save Your Profile</a>

  </div>

</div>
