<%= render "shared/home-banner" %>

<div class="about-block" >
  <div class="about-container">
    <h3 class="touch">Say hello to Distrikts</h3>
    <h4 class="light">A different take on how to explore cities, based on your travel style</h4>
  </div>
</div>


<%= render 'shared/home-takequiz' %>

<%= render 'shared/home-cardstack' %>

<div class="dkpage-container">
  <div class="dkpage-left">
        <h3 class="bumpdown">Dive into your Distrikts</h3>
        <p class="spaced light">Our Scouts curate the best of what each Distrikt has to offer</p>
  </div>

  <div class="dkpage-right">
      <%= image_tag 'dkpage.png', class: "dkpage-img"  %>
  </div>

</div>

<%= render 'shared/home-mapblock' %>

<%= render 'shared/home-tourists' %>

<%= render 'shared/home-startquiz' %>

<%= render 'shared/home-scout' %>


<!-- Quiz Modal -->
<%= render 'shared/quiz_modal' %>
