<%= render "shared/home-banner" %>

<div class="about-block" >
  <div class="about-container">
    <h2 class="bumpdown">Say hello to Distrikts</h2>
    <h4 class="light">A different take on how to explore cities, based on your travel style</h4>
  </div>
</div>


<%= render 'shared/home-takequiz' %>

<%= render 'shared/home-cardstack' %>

<%= render 'shared/home-dkpage' %>

<%= render 'shared/home-mapblock' %>

<%= render 'shared/home-tourists' %>

<%= render 'shared/home-startquiz' %>

<%= render 'shared/home-scout' %>


<!-- Quiz Modal -->
<%= render 'shared/quiz_modal' %>
